<div class="container">
  <h2>Apply for Job</h2>

  <form [formGroup]="jobApplicationForm" (ngSubmit)="applyForJob()">
    <div class="form-group">
      <label for="jobPositionId">Select Job Position</label>
      <select id="jobPositionId" formControlName="jobPositionId" class="form-control" required>
        <option *ngFor="let job of jobPositions" [value]="job.id">{{ job.title }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="applicantName">Applicant Name</label>
      <input type="text" id="applicantName" formControlName="applicantName" class="form-control" required maxlength="100">
    </div>
    <div class="form-group">
    </div>
    <button type="submit" class="btn btn-primary">Apply</button>
  </form>
</div>
